@font-face {
    font-family: alrightsans-black; 
    src: url("../fonts/alrightsans-black-webfont.ttf");
}

@font-face {
    font-family: alrightsans-thin; 
    src: url("../fonts/alrightsans-thin-webfont.woff");
}

@font-face {
    font-family: alrightsans-bold; 
    src: url("../fonts/alrightsans-bold-webfont.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: alrightsans-thin, sans-serif;
    color: #000;
    /*text-align: center;*/
}

h2 {
    font-family: alrightsans-black, sans-serif;
    text-align: right;
    font-size: 70px;
    line-height: 55px;
}

h3 {
    font-family: alrightsans-black, sans-serif;
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
}

a {
    font-family: alrightsans-bold, sans-serif;
    color: #de0172;
    text-transform: uppercase;
    text-align: right;
}

span {
    text-transform: uppercase;
}

/* nav */

#headerLogo {
    float: left;
}

.nav {
    display: inline-block;    
}

.nav li a:hover, 
.nav li a:focus, 
.nav li a:active { 
    color: #DE0172; 
    background-color: #fff; 
}

.nav a {
    font-family: alrightsans-thin, sans-serif;
    color: #000;
    text-transform: uppercase;
    text-align: left;
    line-height: 100%;
}

/* end of nav */

/* main content */

#mainContent img {
    display: block;
}

#bigDataLogo {
    width: 80%;
    height: 80%;
    float: none;
}

.mainText {
    text-align: justify;
    margin: 40px 0;
}

/* end of main content */


/* dynamic content */

.dynContent {
    display: none;    
}

.selected {
    display: block;
}

.logo {
    float: left;
}

.dynContent.selected {
    text-align: right;
}

.dynContent.selected .text {
    text-align: justify;
}

.dynContent.selected .logo {
    display: inline-block;
}

.dynContent h2 {
    text-align: right;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 5px;
    line-height: 0.8em;
    display: inline-block;
}

/* end of dynamic content */




