@font-face {
    font-family: alrightsans-thin; 
    src: url("../fonts/alrightsans-thin-webfont.ttf");
}

@font-face {
    font-family: alrightsans-bold; 
    src: url("../fonts/alrightsans-bold-webfont.ttf");
}

@font-face {
    font-family: alrightsans-black; 
    src: url("../fonts/alrightsans-black-webfont.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: alrightsans-thin, sans-serif;
    color: #000;
    /*text-align: center;*/
}

h2 {
    font-family: alrightsans-black, sans-serif;
    text-align: right;
    font-size: 70px;
    line-height: 55px;
}

h3 {
    font-family: alrightsans-black, sans-serif;
    text-align: right;
    font-size: 20px;
    text-transform: uppercase;
}

a {
    font-family: alrightsans-bold, sans-serif;
    color: #E20074;
    text-transform: uppercase;
    text-align: right;
}

span {
    text-transform: uppercase;
}

/* navigation */

#headerLogo {
    float: left;
    margin-left: 20px;
}

#navBar {
    text-align: center;
}

.nav {
    display: inline-block;    
}

.nav li a:hover, 
.nav li a:focus, 
.nav li a:active { 
    color: #E20074; 
    background-color: #fff; 
    font-weight: bold;
}

.nav a {
    font-family: alrightsans-thin, sans-serif;
    color: #000;
    text-transform: uppercase;
    text-align: left;
    line-height: 100%;
}

/* end of navigation */

/* main content */

#mainContent img {
    display: block;
}

#bigDataLogo {
    width: 80%;
    height: 80%;
    float: none;
}

.mainText {
    text-align: justify;
    margin: 40px 0;
}

/* end of main content */


/* dynamic content */

.dynContent {
    display: none;    
}

.selected {
    display: block;
}

.logo {
    float: left;
}

.dynContent.selected {
    text-align: right;
}

.dynContent.selected .text {
    text-align: justify;
}

.dynContent.selected .logo {
    display: inline-block;
}

.dynContent h2 {
    text-align: right;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 5px;
    line-height: 0.8em;
}

/* end of dynamic content */

/* footer */

footer {
    color: #fff;
    background-color: #E20074;
    margin-top: 75px;
    padding: 40px 0;
    text-align: center;
}

footer .row {
    margin: 15px 0;
}

.iconRadius {
    display: inline-block;
    border-radius: 50%;
    background-color: rgba(255,255,255, .4);
    width: 45px;
    height: 45px;
    position: relative;
    margin: 0 7px;    
}

footer a:hover {
    text-decoration: none;
}

footer a i:hover {
    color: #E20074;
}

.fa-facebook {
    position: absolute;
    top: 22%;
    right: 22%;
}

.fa-linkedin {
    position: absolute;
    top: 20%;
    right: 20%;
}

#furtherInfo a {
    color: #fff;
    text-transform: none;
    font-family: alrightsans-thin;
    font-weight: normal;
    padding: 0 25px;
}

#copyright {
    font-size: 11px;
}

/* end of footer */




